<div class="row mb-2 justify-content-center pt-4">
    <div class="col-md-5">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Jefatura de Gabinete de Ministros</strong>
          <h3 class="mb-0">Diseñador gráfico</h3>
          <div class="mb-1 text-body-secondary">2011-Actualidad</div>
          <p class="card-text mb-auto">Durante los últimos tres años, estuve a cargo de desarrollar la maquetación y estética de la Memoria del estado de la Nación.</p>
          <a href="#" class="stretched-link">Ver trabajos</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Instituto Hábitat</strong>
          <h3 class="mb-0">Realizador audiovisual</h3>
          <div class="mb-1 text-body-secondary">2017-Actualidad</div>
          <p class="mb-auto">Producción de contenidos, comunicación institucional y edición de piezas audiovisuales para el canal de Youtube del Instituto de la Espacialidad Humana.</p>
          <a href="#" class="stretched-link">Ver trabajos</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
  </div>

  
