    <div class="container mt-2" id="seccion">
    <h4 class="titulosSecciones">Skills</h4> 
    <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            <h6>Paquete adobe</h6>
            <div class="progress-circle progress-80"><span>80</span></div>
          </div>
          <div class="col">
            <h6>HTML</h6>
            <div class="progress-circle progress-80"><span>80</span></div>
          </div>
          <div class="col">
            <h6>Java</h6>
            <div class="progress-circle progress-50"><span>50</span></div>
          </div>
        </div>
      </div>
    </div>
