<!-- Sobre mi -->
<section id="sobre"> 
    <div class="container">
        <div class="row align-items-center">
            <div class="col-4 text-center">
                <img class="imgPerfil w-50" src="assets/img/Foto 4x4.jpg" alt="Imagen-de-Matias" title="imagen de matias">
                <h4 class="nombre"> <strong>Matias Ezequiel Bastino</strong> </h4>
                <h5>Desarrollador Full Stack Junior</h5>
            </div>
            <div class="col-8" id="descripcion">
                <p>Soy Diseñador de Imagen y Sonido de la Universidad de Buenos Aires. 
                Trabajé durante los últimos diez años en tareas de producción, cámara y edición de piezas audiovisuales para Jefatura de Gabinete de Ministros y para el Instituto de la Espacialidad Humana de la Facultad de Arquitectura, Diseño y Urbanismo (UBA).
                Entre otras tareas, realicé la diagramación y maquetación de numerosas ediciones del libro “Memoria detallada del estado de la Nación” y la revista “Soberanía Sanitaria”. 
                Además, cuento con experiencia en Paquete Adobe: Indesign, Illustrator y Photoshop, certificado por la Universidad Nacional de Lomas de Zamora. 
                Actualmente vivo en la Ciudad de Buenos Aires y me encuentro cursando Argentina Programa, para desarrollarme como programador web full-stack en busca de nuevos desafíos profesionales.</p>
            </div>
        </div>
    </div>
</section>
