<form>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Usuario</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingresa tu usuario">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Ingresa tu contraseña">
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Ingresar</button>
      </div>
</form>
