
<div class="container mt-2" id="seccion">
    <h4 class="titulosSecciones">Experiencia laboral</h4> 
    <div class="row align-items-start" *ngFor="let exper of experiencia">
      <div class="col-3 text text-center">
        <img class="centrado" [src]="exper.logoEmpresa" alt="">
      </div>
      <div class="col-9">
        <h6>{{exper.empresa}}</h6>
        <h3>{{exper.puesto}}</h3>
        <h6>{{exper.inicio}} - {{exper.fin}}</h6>
        <p>{{exper.descripcion}}</p>
        </div>
    </div>
  </div>