
<div class="container mt-2" id="seccion">
    <h4 class="titulosSecciones">Experiencia laboral</h4> 
    <div class="row align-items-start" *ngFor="let experiencia of experiencias">
      <div class="col-3 text text-center">
        <img class="centrado" [src]="experiencia.logoEmpresa" alt="">
      </div>
      <div class="col-9">
        <h6>{{experiencia.empresa}}</h6>
        <h3>{{experiencia.puesto}}</h3>
        <h6>{{experiencia.inicio}} - {{experiencia.fin}}</h6>
        <p>{{experiencia.descripcion}}</p>
        </div>
    </div>
  </div>